.button {
  gap: 60px;
  padding: 24px 32px;
  margin-top: 64px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0ea6e;
  color: #303131;
  font-family: "Red Rose", sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease;
  border: none;
  text-decoration: none;

  > img:first-child {
    transition: transform 0.3s ease;
  }

  &:hover {
    transform: scale(1.1);

    > img:first-child {
      transform: rotate(-25deg);
    }
  }
}

h1 {
  font-size: 140px;
  margin: 0;
}

h3 {
  font-size: 48px;
  margin: 0;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
