@font-face {
  font-family: "Red Rose";
  src: url("/fonts/RedRose-VariableFont_wght.ttf") format("truetype");
}

body {
  height: 100vh;
  background-color: #303131;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  font-family: "Red Rose", sans-serif;
}
